n8n-workflow-comercio-local-multiuser.json
{
  "name": "Comercio local — Multiusuario v3",
  "nodes": [
    {
      "parameters": {},
      "id": "n01",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 400]
    },
    {
      "parameters": {
        "rule": { "interval": [{ "triggerAtHour": 6 }] }
      },
      "id": "n02",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 600]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.ENLAZE_BASE_URL || 'https://enlaze.vercel.app' }}/api/agent/users?sector=comercio_local",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.AGENT_API_KEY }}" }
          ]
        },
        "options": { "response": { "response": { "responseFormat": "json" } } }
      },
      "id": "n03",
      "name": "List Active Users",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, 500]
    },
    {
      "parameters": {
        "jsCode": "// Fetch all 4 RSS feeds in parallel (public URLs, no auth needed)\nconst feeds = [\n  { url: 'https://feeds.elpais.com/mrss-s/pages/ep/site/elpais.com/section/economia/portada', name: 'El País' },\n  { url: 'https://www.europapress.es/rss/rss.aspx?ch=136', name: 'Europa Press' },\n  { url: 'https://cincodias.elpais.com/rss/feed.html?feedId=17066', name: 'Cinco Días' },\n  { url: 'https://www.boe.es/rss/canal.php?c=ayudas', name: 'BOE Ayudas' }\n];\n\nconst results = await Promise.all(feeds.map(async (feed) => {\n  try {\n    const resp = await fetch(feed.url, { signal: AbortSignal.timeout(15000) });\n    return { name: feed.name, text: await resp.text(), ok: true };\n  } catch (e) {\n    console.log(`[RSS] Error fetching ${feed.name}: ${e.message}`);\n    return { name: feed.name, text: '', ok: false };\n  }\n}));\n\nconst newsXml = results.filter(r => r.name !== 'BOE Ayudas').map(r => r.text).join('\\n');\nconst boeXml = results.find(r => r.name === 'BOE Ayudas')?.text || '';\nconst feedStatus = results.map(r => `${r.name}: ${r.ok ? 'OK' : 'FAIL'}`);\n\nconsole.log(`[RSS] Feeds fetched: ${feedStatus.join(', ')}`);\n\nreturn [{ json: { newsXml, boeXml, feedStatus } }];"
      },
      "id": "n04",
      "name": "Fetch RSS Feeds",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 500]
    },
    {
      "parameters": {
        "jsCode": "// Split users into individual items for per-user processing\nconst usersResp = $('List Active Users').first().json;\n\nif (!usersResp.ok || !usersResp.users || usersResp.users.length === 0) {\n  console.log('[ENLAZE] No active users found — skipping');\n  return [{ json: { _skip: true, reason: 'No active users' } }];\n}\n\nconsole.log(`[ENLAZE] Splitting ${usersResp.users.length} user(s) for processing`);\n\nreturn usersResp.users.map(u => ({ json: { user_id: u.user_id, business_name: u.business_name, business_type: u.business_type, city: u.city } }));"
      },
      "id": "n05",
      "name": "Split Users",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 500]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.ENLAZE_BASE_URL || 'https://enlaze.vercel.app' }}/api/agent/config",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "user_id", "value": "={{ $json.user_id }}" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.AGENT_API_KEY }}" }
          ]
        },
        "options": { "response": { "response": { "responseFormat": "json" } } }
      },
      "id": "n06",
      "name": "Get User Config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1040, 500]
    },
    {
      "parameters": {
        "jsCode": "// Parse and filter news RSS using this user's keywords + rss_filter_hints\nconst rssData = $('Fetch RSS Feeds').first().json;\nconst items = $input.all();\n\nfunction parseRSS(xml) {\n  const out = [];\n  const rx = /<item[^>]*>([\\s\\S]*?)<\\/item>/gi;\n  let m;\n  while ((m = rx.exec(xml)) !== null) {\n    const b = m[1];\n    const title = (b.match(/<title[^>]*>(?:<!\\[CDATA\\[)?(.*?)(?:\\]\\]>)?<\\/title>/s)||[])[1]||'';\n    const link = (b.match(/<link[^>]*>(?:<!\\[CDATA\\[)?(.*?)(?:\\]\\]>)?<\\/link>/s)||[])[1]||'';\n    const desc = (b.match(/<description[^>]*>(?:<!\\[CDATA\\[)?(.*?)(?:\\]\\]>)?<\\/description>/s)||[])[1]||'';\n    const pubDate = (b.match(/<pubDate[^>]*>(.*?)<\\/pubDate>/s)||[])[1]||'';\n    let src = 'Desconocido';\n    if (link.includes('elpais')) src = 'El País';\n    else if (link.includes('europapress')) src = 'Europa Press';\n    else if (link.includes('cincodias')) src = 'Cinco Días';\n    out.push({ title: title.trim(), link: link.trim(), desc: desc.trim(), pubDate: pubDate.trim(), source: src });\n  }\n  return out;\n}\nfunction strip(s) { return s.replace(/<[^>]*>/g,'').replace(/&[a-z]+;/gi,' ').trim(); }\n\nconst allNewsItems = parseRSS(rssData.newsXml || '');\n\nconst results = [];\nfor (const item of items) {\n  const config = item.json;\n  const baseKw = ['comercio local','pyme','autónomo','subvención','digitalización','hostelería','iva','kit digital','empleo','inflación','consumo','energía','impuesto'];\n  const userKw = (config.keywords || []).map(k => k.toLowerCase());\n  const hints = (config.rss_filter_hints || []).map(k => k.toLowerCase());\n  const allKw = [...new Set([...baseKw, ...userKw, ...hints])];\n\n  const news = allNewsItems.map(i => {\n    const text = (i.title+' '+i.desc).toLowerCase();\n    let score = 0;\n    for (const kw of allKw) { if (text.includes(kw)) score += 3; }\n    score = Math.min(score, 10);\n    return {\n      id: 'news_'+Buffer.from(i.link||i.title).toString('base64').slice(0,12),\n      title: strip(i.title), summary: strip(i.desc).slice(0,300),\n      source: i.source, url: i.link,\n      date: i.pubDate ? new Date(i.pubDate).toISOString().split('T')[0] : new Date().toISOString().split('T')[0],\n      category: 'noticias', relevance: score,\n      tags: allKw.filter(kw => text.includes(kw))\n    };\n  }).filter(n => n.relevance >= 3).sort((a,b) => b.relevance - a.relevance).slice(0,15);\n\n  results.push({ json: { ...config, _news: news } });\n}\nreturn results;"
      },
      "id": "n07",
      "name": "Parse News",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 400]
    },
    {
      "parameters": {
        "jsCode": "// Parse and filter BOE ayudas/regulations using this user's keywords\nconst rssData = $('Fetch RSS Feeds').first().json;\nconst items = $input.all();\n\nfunction parseRSS(xml) {\n  const out = [];\n  const rx = /<item[^>]*>([\\s\\S]*?)<\\/item>/gi;\n  let m;\n  while ((m = rx.exec(xml)) !== null) {\n    const b = m[1];\n    const title = (b.match(/<title[^>]*>(?:<!\\[CDATA\\[)?(.*?)(?:\\]\\]>)?<\\/title>/s)||[])[1]||'';\n    const link = (b.match(/<link[^>]*>(?:<!\\[CDATA\\[)?(.*?)(?:\\]\\]>)?<\\/link>/s)||[])[1]||'';\n    const desc = (b.match(/<description[^>]*>(?:<!\\[CDATA\\[)?(.*?)(?:\\]\\]>)?<\\/description>/s)||[])[1]||'';\n    out.push({ title: title.trim(), link: link.trim(), desc: desc.trim() });\n  }\n  return out;\n}\nfunction strip(s) { return s.replace(/<[^>]*>/g,'').replace(/&[a-z]+;/gi,' ').trim(); }\n\nconst allBoeItems = parseRSS(rssData.boeXml || '');\n\nconst results = [];\nfor (const item of items) {\n  const config = item.json;\n  const userKw = (config.keywords || []).map(k => k.toLowerCase());\n  const allKw = [...new Set([...userKw, 'pyme','comercio','digitalización','kit digital','autónomo','empleo','formación','subvención','ayuda','hostelería','turismo'])];\n\n  const subsidies = [], regulations = [];\n  for (const i of allBoeItems) {\n    const text = (i.title+' '+i.desc).toLowerCase();\n    if (!allKw.some(kw => text.includes(kw))) continue;\n    const ct = strip(i.title), cd = strip(i.desc);\n    if (text.includes('normativa')||text.includes('reglamento')||text.includes('obligación')||text.includes('ley ')) {\n      regulations.push({ id:'reg_'+Buffer.from(i.link||i.title).toString('base64').slice(0,12), title:ct, type:'normativa', summary:cd.slice(0,300), url:i.link, impact:'medium', action_required:'Revisar requisitos y plazos' });\n    } else {\n      let type = 'ayuda';\n      if (text.includes('subvención')) type = 'subvención';\n      else if (text.includes('formación')) type = 'formación';\n      subsidies.push({ id:'sub_'+Buffer.from(i.link||i.title).toString('base64').slice(0,12), title:ct, type, amount_range:'', deadline:'', target:'Pymes y autónomos', url:i.link, status:'abierta' });\n    }\n  }\n\n  results.push({ json: { ...config, _subsidies: subsidies.slice(0,10), _regulations: regulations.slice(0,10) } });\n}\nreturn results;"
      },
      "id": "n08",
      "name": "Parse Ayudas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 600]
    },
    {
      "parameters": {
        "jsCode": "// Generate marketing ideas based on business_type, calendar, and marketing_hints\nconst items = $input.all();\nconst now = new Date();\nconst month = now.getMonth()+1;\nconst dates30 = [];\nfor (let i=0;i<30;i++) {\n  const d = new Date(now.getTime()+i*86400000);\n  dates30.push({date:d, m:d.getMonth()+1, d:d.getDate(), dow:d.getDay()});\n}\nconst calendar = [\n  {m:1,d:6,name:'Reyes',for:['tienda','comercio']},\n  {m:2,d:14,name:'San Valentín',for:['restaurante','bar','estetica','peluqueria','floristeria']},\n  {m:3,d:8,name:'Día de la Mujer',for:['estetica','peluqueria']},\n  {m:3,d:19,name:'Día del Padre',for:['tienda','restaurante','bar','peluqueria']},\n  {m:5,d:1,name:'Día del Trabajador',for:['todos']},\n  {m:5,d:4,name:'Día de la Madre',for:['tienda','restaurante','estetica','peluqueria','floristeria']},\n  {m:6,d:21,name:'Inicio Verano',for:['todos']},\n  {m:9,d:1,name:'Vuelta al cole',for:['tienda','peluqueria']},\n  {m:10,d:31,name:'Halloween',for:['bar','restaurante','tienda']},\n  {m:11,d:25,name:'Black Friday',for:['todos']},\n  {m:12,d:25,name:'Navidad',for:['todos']},\n  {m:12,d:31,name:'Nochevieja',for:['restaurante','bar']}\n];\nconst norm = s => s.normalize('NFD').replace(/[\\u0300-\\u036f]/g,'');\n\nconst results = [];\nfor (const item of items) {\n  const config = item.json;\n  const bizType = norm((config.business_type||'comercio').toLowerCase());\n  const bizName = config.business_name || 'Mi Negocio';\n  const mHints = config.marketing_hints || [];\n  const campaigns = [], upcoming = [];\n\n  for (const e of calendar) {\n    for (const d of dates30) {\n      if (d.m===e.m && d.d===e.d && (e.for.includes('todos')||e.for.some(t=>bizType.includes(t)))) {\n        const ds = d.date.toISOString().split('T')[0];\n        upcoming.push({name:e.name, date:ds});\n        campaigns.push({title:`Campaña ${e.name}`, type:'promotion', channel:['whatsapp','instagram'], target_audience:'clientes_recurrentes', suggested_date:ds, message_draft:`¡${e.name} se acerca! En ${bizName} tenemos algo especial.`, reason:`Fecha señalada: ${e.name}`});\n      }\n    }\n  }\n  if (['bar','restaurante','cafeteria','cafe'].some(t=>bizType.includes(t))) {\n    const tue = dates30.find(d=>d.dow===2);\n    if (tue) campaigns.push({title:'Promo martes — día valle', type:'promotion', channel:['whatsapp','instagram'], target_audience:'clientes_recurrentes', suggested_date:tue.date.toISOString().split('T')[0], message_draft:`¡Este martes en ${bizName} oferta especial!`, reason:'Día valle hostelería'});\n  }\n  if (mHints.length>0 && campaigns.length<3) {\n    const hint = mHints[Math.floor(Math.random()*mHints.length)];\n    campaigns.push({title:`Idea: ${hint}`, type:'content', channel:['instagram'], target_audience:'todos', suggested_date:dates30[3]?.date.toISOString().split('T')[0]||'', message_draft:`¡Novedad en ${bizName}! ${hint.charAt(0).toUpperCase()+hint.slice(1)}.`, reason:`Tipo negocio: ${config.business_type}`});\n  }\n  if (campaigns.length===0) {\n    let idea = month>=6&&month<=8?'Campaña verano':month>=11||month<=1?'Campaña navideña':month>=3&&month<=5?'Campaña primavera':'Campaña otoño';\n    campaigns.push({title:idea, type:'content', channel:['instagram'], target_audience:'todos', suggested_date:dates30[3]?.date.toISOString().split('T')[0]||'', message_draft:`¡Novedades en ${bizName}!`, reason:'Estacional'});\n  }\n\n  results.push({ json: { ...config, _campaigns: campaigns, _upcoming: upcoming } });\n}\nreturn results;"
      },
      "id": "n09",
      "name": "Marketing Ideas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 500]
    },
    {
      "parameters": {
        "jsCode": "// Build the final payload per user for /api/agent/ingest\nconst items = $input.all();\nconst now = new Date().toISOString();\n\nconst results = [];\nfor (const item of items) {\n  const c = item.json;\n  const news = c._news || [];\n  const subsidies = c._subsidies || [];\n  const regulations = c._regulations || [];\n  const campaigns = c._campaigns || [];\n\n  const nc=news.length, sc=subsidies.length, rc=regulations.length, cc=campaigns.length;\n  let headline = `Hoy tienes ${nc} noticias relevantes`;\n  if (sc>0) headline += `, ${sc} ayudas disponibles`;\n  headline += '.';\n  const actions = [];\n  if (sc>0) actions.push(`Revisar ${sc} ayuda(s)/subvención(es)`);\n  if (rc>0) actions.push(`Revisar ${rc} cambio(s) normativo(s)`);\n  if (cc>0) actions.push(`Considerar ${cc} idea(s) de marketing`);\n  const score = Math.max(0, Math.min(100, 40+nc*3+sc*8+cc*5-rc*5));\n\n  const payload = {\n    user_id: c.user_id,\n    agent: 'comercio_local',\n    version: '2.0',\n    business_id: c.business_id || c.user_id,\n    timestamp: now,\n    daily_summary: { headline, priority_actions: actions, opportunities_count: sc+cc, risks_count: rc, score },\n    radar: { news, regulations, subsidies, competitor_signals: [], local_events: [] },\n    reputation: {\n      reviews: { current_rating:0, total_reviews:0, trend:'unknown' },\n      campaigns\n    }\n  };\n\n  console.log(`[ENLAZE] Payload for ${c.business_name}: ${nc} news, ${sc} subsidies, ${cc} campaigns, score=${score}`);\n  results.push({ json: payload });\n}\nreturn results;"
      },
      "id": "n10",
      "name": "Build Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1820, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ENLAZE_BASE_URL || 'https://enlaze.vercel.app' }}/api/agent/ingest",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.AGENT_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": { "response": { "response": { "responseFormat": "json" } } }
      },
      "id": "n11",
      "name": "Send to ENLAZE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2080, 500]
    },
    {
      "parameters": {
        "jsCode": "// Log final results\nconst items = $input.all();\nconst results = items.map(item => {\n  const r = item.json;\n  const ok = r.success === true;\n  console.log(`[ENLAZE] Result for user ${r.user_id}: success=${ok}`);\n  return { json: { user_id: r.user_id, success: ok, timestamp: r.timestamp, results: r.results || {} } };\n});\n\nconsole.log(`[ENLAZE] Agent run complete. Processed ${results.length} user(s).`);\nreturn results;"
      },
      "id": "n12",
      "name": "Log Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2340, 500]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "List Active Users", "type": "main", "index": 0 }]]
    },
    "Schedule Trigger": {
      "main": [[{ "node": "List Active Users", "type": "main", "index": 0 }]]
    },
    "List Active Users": {
      "main": [[{ "node": "Fetch RSS Feeds", "type": "main", "index": 0 }]]
    },
    "Fetch RSS Feeds": {
      "main": [[{ "node": "Split Users", "type": "main", "index": 0 }]]
    },
    "Split Users": {
      "main": [[{ "node": "Get User Config", "type": "main", "index": 0 }]]
    },
    "Get User Config": {
      "main": [[
        { "node": "Parse News", "type": "main", "index": 0 },
        { "node": "Parse Ayudas", "type": "main", "index": 0 }
      ]]
    },
    "Parse News": {
      "main": [[{ "node": "Marketing Ideas", "type": "main", "index": 0 }]]
    },
    "Parse Ayudas": {
      "main": [[{ "node": "Marketing Ideas", "type": "main", "index": 0 }]]
    },
    "Marketing Ideas": {
      "main": [[{ "node": "Build Payload", "type": "main", "index": 0 }]]
    },
    "Build Payload": {
      "main": [[{ "node": "Send to ENLAZE", "type": "main", "index": 0 }]]
    },
    "Send to ENLAZE": {
      "main": [[{ "node": "Log Results", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    { "name": "enlaze", "id": "1" },
    { "name": "comercio-local", "id": "2" },
    { "name": "multiusuario", "id": "3" }
  ],
  "triggerCount": 2,
  "versionId": "3"
}